#myteam{
    background-color: rgb(224, 52, 52);
    padding: 30px;
    text-align: center;
    color: white;
}

div{
    border: 1px solid grey;
    background-color: rgb(207, 204, 204);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
    margin: 10px;
    padding: 10px;
    min-width: 200px;
}

.divflex{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    background-color: rgb(24, 95, 247);
    color: white;
    padding: 5px;
    margin: 0px;
}

